<div class="container">
  <div class="row">
    <md-card>
      <md-card-content >
        <div class="row">
          <md-input placeholder="Codigo del Proyecto" value="QOSDE14"></md-input>
          <md-input placeholder="Cliente" value="Daniel Sabio"></md-input>
        </div>
        <div class="row">
          <md-input placeholder="Lider/SM/Facilitador" value="Nicolas Rameri"></md-input>
          <md-input placeholder="Fecha del Inicio/Fin" value="10/10/2015->10/10/2016"></md-input>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content> 
        <div class="rowLeft">
          <h4>Estado del cliente:</h4>
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-heart_eyes" style="height: inherit;"></md-icon>
        </div>
        <div class="rowLeft">
          <h4>Estado del Colaboradores:</h4>
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-heart_eyes" style="height: inherit;"></md-icon>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div class="row">
    <md-card>
      <md-card-title>Aplicaciones</md-card-title>
      <md-card-content>content</md-card-content>
    </md-card>
  </div>
  
</div>
 