.container{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.row{
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}

.rowLeft{
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}

.rowEnd{
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}

.input{
  width: 100%;
}

.input2{
  width: 48%;
}

.clickable{
  cursor: pointer;
}

.hide{
  display: none;
}
.show{
  display: block;
}

.listwrap{
  overflow-y: scroll;
  max-height: 150px;
  min-height: 150px;
}